* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
}
.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  height: 150px;
  width: 350px;
  background: var(--primary);
  color: var(--red);
  border-radius: 50px;
  font-size: 24px;
}

:root {
  --black: #3B434E;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #23116B;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans Display", sans-serif;
  --gray-light: #7A7777;
}
